<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta charset="utf-8">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap" rel="stylesheet">
        <script src="https://kit.fontawesome.com/b954c4656e.js" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="css/style.css">
        <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
        <title>Avada Classic Shop</title>
    </head>
    <body>

        <div id="app" class="wrapper">

            <!-- barre di navigazione & jumbotron -->
            <header>

                <!-- navbars -->
                <div class="header-top">

                    <nav class="header-navbar-top">
                        <!-- gestire con v-for -->
                        <div class="socials">
                            <ul class="list-inline">
                                <li v-for="social in socials">
                                    <a href="#"><i :class="social.iconClass"></i></a>
                                    <span>{{ social.name }}</span>
                                </li>
                            </ul>
                        </div>
                        <!-- /gestire con v-for -->

                        <div class="user-options">
                            <ul class="list-inline">
                                <li><a href="#">Shopping Cart</a></li>
                                <li>
                                    <a href="#">
                                        My Account
                                        <i class="fas fa-chevron-down"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        CART
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </nav>

                    <nav class="header-navbar-bottom">
                        <div class="logo-container">
                            <img src="img/classic_shop_logo1x.png" alt="Logo AVADA" class="img100">
                        </div>
                        <div class="menu-container">
                            <ul class="list-inline">
                                <li v-for="(link, index) in navabarLinks" class="links" :class="(index == 0) ? 'active-link' : 'inactive-link'">
                                    <a href="#">
                                        {{ link.name }}
                                        <i v-if="link.dropdown" class="fas fa-chevron-down"></i>
                                        <!-- da gestire la classe active -->
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="btn">shop now!</a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="fas fa-search"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </nav>
                </div>
                <!-- /navbars -->

                <!-- jumbotron -->
                <section id="jumbotron">
                    <div class="jumbotron-top">
                        <h1>Brand new Arrivals</h1>
                        <p>new collection from new york</p>
                    </div>
                    <div class="jumbotron-bottom">
                        <a href="#" class="btn">view all</a>
                        <a href="#" class="btn">lookbook</a>
                    </div>
                </section>
                <!-- /jumbotron -->

            </header>
            <!-- /barre di navigazione & jumbotron -->


            <!-- tutte le sezioni del sito -->
            <main>

                <section id="featured">
                    <h2 class="title">Featured Products</h2>
                    <p class="subtitle">Must have products from our top sellers</p>

                    <nav class="featured-top">
                        <!-- gestire con vue -->
                        <span v-for="(gender, index) in genders" class="featured-btn" :class="(index == indexFeatured) ? 'active-gender' : ''" @click="manageFeatured(index)">{{ gender }}</span>
                        <!-- /gestire con vue -->
                    </nav>

                    <div class="featured-bottom">

                        <div v-for="feature in filterGender" class="featured-item">
                            <div class="featured-item-preview">
                                <img :src="'img/products/' + feature.preview + '-400x520.jpg'" alt="Giacca" class="img100">
                                <div class="card-layover">
                                    <a href="#">
                                        <i class="fas fa-shopping-cart"></i>
                                        Add to cart
                                    </a>
                                    <a href="#">
                                        <i class="fas fa-bars"></i>
                                        Details
                                    </a>
                                </div>
                            </div>
                            <div class="featured-item-info">
                                <h4><a href="#">{{ feature.name }}</a></h4>
                                <div class="categories">
                                    <span  v-for="category in feature.categories" class="category">{{ category }}</span>
                                </div>
                                <div class="prices">
                                    <span class="original-price" v-if="feature.originalPrice != feature.price" class="original-price">${{ feature.originalPrice }}</span>
                                    <span class="price">${{ feature.price }}</span>
                                </div>
                            </div>
                        </div>

                    </div>
                </section>

                <section id="collections">
                    <div class="collections-item winter">
                        <h2>Winter Collection</h2>
                        <p>stylish and warm</p>
                        <a href="#" class="btn">view more</a>
                    </div>
                    <div class="collections-item spring">
                        <h2>Spring Collection</h2>
                        <p>bright and colorful</p>
                        <a href="#" class="btn">view more</a>
                    </div>
                    <div class="collections-item autumn">
                        <h2>Autumn Collection</h2>
                        <p>rich and confortable</p>
                        <a href="#" class="btn">view more</a>
                    </div>
                </section>

                <section id="best-seller">
                    <h2 class="title">Best Seller</h2>
                    <p class="subtitle">Must have products from our top sellers</p>
                </section>

                <section id="promotions"></section>

                <section id="new-arrivals"></section>

                <section id="about-us"></section>

                <section id="our-blog"></section>

                <section id="showcase"></section>

                <section id="brands"></section>
            </main>
            <!-- /tutte le sezioni del sito -->


            <!-- newsletter, info e credits -->
            <footer>

                <section id="newsletter"></section>

                <section id="info"></section>

                <section id="credits"></section>

            </footer>
            <!-- /newsletter, info e credits -->

        </div>


        <script src="js/main.js" charset="utf-8"></script>

    </body>
</html>
