.header-top {
    .header-navbar-top {
        @include horizontalFlex;
        height: 50px;
        box-sizing: content-box;
        border-top: 3px solid $brandColor;
        border-bottom: 1px solid $bordersColor;
        padding: 0 $horizontalPadding;

        .socials {
            font-size: 16px;
            a {
                margin-right: 20px;
                &:hover {
                    color: lighten($textColor, 20%);
                }
            }
        }
    }
}
