.header-top {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: #fff;
    z-index: 3;
    .header-navbar-top {
        background: #fff;
        @include horizontalFlex;
        justify-content: space-between;
        height: $navbarTopHeight;
        box-sizing: content-box;
        padding: 0 $horizontalPadding;
        border-top: 3px solid $brandColor;
        border-bottom: 1px solid $bordersColor;

        .socials {
            li {
                margin-right: 20px;
                @include socialsPopup;
                transition: color $transitionsTime;
                &:hover {
                    color: lighten($mainColorDark, 40%);
                }
            }
        }

        .user-options {
            height: 100%;
            ul {
                @include menuLists;
                font-size: 0;
                li {
                    line-height: $navbarTopHeight;
                    border-right: 1px solid $bordersColor;
                    font-size: 12px;
                    a {
                        padding: 0 20px;
                    }
                    &:last-child {
                        background: #FAFAFA;
                        color: #000;
                        border-right: 0;
                        a {
                            padding: 0 70px;
                            &::before {
                                content: "\f07a";
                                font-family: $fontAwesome;
                                margin-right: 10px;
                            }
                            &::after {
                                content: "\f078";
                                font-family: $fontAwesome;
                                margin-left: 10px;
                                font-size: 13px;
                            }
                        }
                    }
                }
            }
        }
    }

    .header-navbar-bottom {
        @include horizontalFlex;
        justify-content: space-between;
        height: $navbarBottomHeight;
        padding: 0 $horizontalPadding;
        box-shadow: 0px 5px 13px -7px #000000;
        .logo-container {
            max-width: 200px;
        }
        .menu-container {
            @include menuLists;
            li.links {
                position: relative;
                font-size: 12px;
                line-height: $navbarBottomHeight;
                margin-right: 30px;
                .dropdown {
                    line-height: 0;
                    position: absolute;
                    top: 100%;
                    li {
                        width: 200px;
                        font-weight: $standardWeight;
                        background: #fff;
                        position: relative;
                        transition: background $transitionsTime;
                        &:first-child::before {
                            content: "";
                            display: inline-block;
                            position: absolute;
                            top: 0;
                            left: 0;
                            width: 100%;
                            height: 3px;
                            background: $brandColor;
                        }
                        &:hover {
                            background: darken(#ffffff, 10%);
                        }
                        a {
                            padding: 20px 5px;
                        }
                    }
                }
                .categories {
                    @include horizontalFlex;
                    justify-content: center;
                    line-height: 0;
                    position: absolute;
                    top: 100%;
                    left: -50vw;
                    background: #fff;
                    li {
                        min-width: 25%;
                        margin: 0;
                        padding: 10px;
                        border: 1px solid $bordersColor;
                        &:first-child::before {
                            content: "";
                            display: inline-block;
                            position: absolute;
                            top: 0;
                            left: 0;
                            width: 100%;
                            height: 3px;
                            background: $brandColor;
                        }
                        h4 {
                            margin: 20px 0 30px;
                        }
                        img {
                            transition: all $transitionsTime;
                            &:hover {
                                transform: scale(1.05);
                            }
                        }
                    }
                }
            }
            li {
                margin-right: 30px;
                .btn {
                    @include btnFunction($brandColor, 7%);
                    font-size: 12px;
                    font-weight: 700;
                }
                .fa-search {
                    font-size: 14px;
                }
            }
            .inactive-link {
                @include activeMenuProp;
            }
            .active-link {
                position: relative;
                color: $brandColor;
                &::before {
                    content: "";
                    width: 100%;
                    height: 3px;
                    background: $brandColor;
                    position: absolute;
                    top: 0;
                    left: 0;
                }
            }
        }
    }

}

#jumbotron {
    @include verticalFlex;
    justify-content: center;
    height: 90vh;
    position: relative;
    margin-top: $navbarTopHeight + $navbarBottomHeight;
    color: #fff;
    text-align: center;
    * {
        z-index: 2;
    }
    img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: top;
        z-index: 1;
        filter: brightness(0.8);
    }
    .jumbotron-top {
        h1 {
            font-size: 5em;
        }
        p {
            font-size: 1.7em;
            text-transform: uppercase;
        }
    }

    .jumbotron-bottom {
        margin-top: 40px;
        .btn {
            @include mainBtn;
            margin: 0 10px;
        }
    }

    .slider-left, .slider-right {
        @include sliders;
    }
    .slider-left {
        left: 0;
    }
    .slider-right {
        right: 0;
    }
}
