main {
    text-align: center;
}

#featured {
    padding: $verticalPadding $horizontalPadding;

    .featured-top {
        margin: 30px 0 30px;
        text-align: center;
        font-size: 0;

        .featured-btn {
            font-size: 14px;
            padding: 15px 45px;
            border: 1px solid $bordersColor;
            font-weight: 700;
            background: #F6F6F6;
            transition: background $transitionsTime;
            cursor: pointer;
            &.active-gender {
                background: #fff;
            }
            &:hover {
                background: #fff;
            }
        }
    }

    .featured-bottom {
        @include horizontalFlex;
        .featured-item {
            margin: 0 5px;
            width: calc(25% - 10px);
            .featured-item-preview {
                position: relative;
                overflow: hidden;
                .card-layover {
                    @include cardsLayover;
                    font-size: 10px;
                    a {
                        margin: 5px 0;
                    }
                }
                &:hover .card-layover {
                    top: 0;
                }
            }

            .featured-item-info {
                margin-top: $marginBtwCardSections;
                text-align: left;
                h4, .category {
                    @include itemBottomProp;
                }
                .categories {
                    font-size: 12px;
                    font-weight: $standardWeight;
                    .category {
                        cursor: pointer;
                        &::after {
                            content: ", ";
                        }
                        &:last-child::after {
                            content: ".";
                        }
                    }
                }
                .prices {
                    padding-top: 15px;
                    color: $brandColor;
                    .original-price {
                        font-size: 13px;
                        text-decoration: line-through;
                    }
                    .price {
                        font-weight: $standardWeight;
                    }
                }
            }
        }
    }
}

#collections {
    @include horizontalFlex;
    .collections-item {
        @include verticalFlex;
        justify-content: flex-end;
        width: calc(100% / 3);
        height: 90vh;
        color: #fff;
        padding-bottom: $verticalPadding / 2;
        @include backgroundLayover;
        p {
            font-size: 1.2em;
            text-transform: uppercase;
            margin: 20px 0 30px;
        }
        .btn {
            @include mainBtn;
            font-size: 12px;
        }
        &.winter {
            background: url("../img/collections/winter_collection.jpg");
            @include backgroundImgDefault;
        }
        &.spring {
            background: url("../img/collections/spring_collection.jpg");
            @include backgroundImgDefault;
        }
        &.autumn {
            background: url("../img/collections/autumn_collection.jpg");
            @include backgroundImgDefault;
        }
    }
}

#best-seller {
    padding: $verticalPadding $horizontalPadding;
    .bestseller-container {
        @include horizontalFlex;
        margin-top: 30px;
        position: relative;
        .slider-left, .slider-right {
            @include sliders;
        }
        .slider-left {
            left: 0;
            z-index: 2;
        }
        .slider-right {
            right: 0;
        }
        .bestseller-item {
            width: calc(100% / 5);
            position: relative;
            overflow: hidden;
            .card-layover {
                @include carouselCardsLayover;
            }
            &:hover .card-layover {
                top: 0;
            }
        }
    }
}

#promotions {
    @include horizontalFlex;
    justify-content: center;
    padding: $verticalPadding 0;
    @include backgroundImgDefault;
    background: url("../img/confetti-compressor.jpg");

    .promotions-item {
        @include verticalFlex;
        align-items: flex-start;
        justify-content: center;
        width: 35%;
        height: 350px;
        margin: 0 20px;
        padding: 0 30px;
        text-align: left;
        color: #fff;
        &:first-child {
            background: url("../img/promotions/promo_box_1.jpg");
            @include backgroundImgDefault;
        }
        &:last-child {
            background: url("../img/promotions/promo_box_2.jpg");
            @include backgroundImgDefault;
        }
        p {
            margin: 20px 0;
            font-size: 13px;
            font-weight: $standardWeight;
            max-width: 60%;
        }
        .btn {
            @include mainBtn;
            font-size: 12px;
        }
    }
}

#new-arrivals {
    padding: $verticalPadding $horizontalPadding;
}

#testimonals {
    padding: $verticalPadding ($horizontalPadding * 2);
    background: url("../img/testimonials/testimonials_home.jpg");
    @include backgroundImgDefault;
    color: #fff;
    .testimonials-item {
        p {
            margin: 30px 0;
            line-height: $paragraphsLineHeight;
            font-weight: $standardWeight;
        }
        nav {
            margin-top: 30px;
            i {
                margin: 0 5px;
                cursor: pointer;
            }
        }
    }
}


#our-blog {
    padding: $verticalPadding $horizontalPadding;

    #articles {
        @include horizontalFlex;
        justify-content: center;
        padding-bottom: $verticalPadding;
        border-bottom: 2px solid $bordersColor;
        .article {
            margin: 0 20px;
            width: calc(100% / 3 - 40px);
            .article-preview {
                font-size: 0;
                overflow: hidden;
                img {
                    transition: all $transitionsTime * 3;
                }
                &:hover {
                    img {
                        transform: scale(1.1);
                        filter: opacity(0.80);
                    }
                }
            }
            .article-info {
                margin-top: $marginBtwCardSections;
                text-align: left;
                h4, a {
                    @include itemBottomProp;
                }
                span {
                    font-size: 12px;
                }
                p {
                    font-size: 13px;
                    font-weight: $standardWeight;
                    line-height: $paragraphsLineHeight;
                    margin-top: 15px;
                }
            }
        }
    }

    #showcase {
        padding-top: $verticalPadding;
        @include horizontalFlex;
        text-align: left;
        .showcase-item {
            width: calc(25% - 40px);
            margin: 0 20px;
            h5 {
                font-size: 1.1em;
                font-weight: $standardWeight + 100;
                text-transform: uppercase;
                margin-bottom: 20px;
            }
            li {
                @include horizontalFlex;
                justify-content: space-between;
                border-bottom: 1px solid $bordersColor;
                padding: 10px 0;
                .info {
                    width: 70%;
                    * {
                        display: block;
                    }
                    h6 {
                        font-weight: $standardWeight;
                        font-size: 16px;
                        @include itemBottomProp;
                    }
                    .ratio {
                        color: $brandColor;
                        margin-bottom: 10px;
                        * {
                            display: inline;
                        }
                    }
                    .prices {
                        font-weight: $standardWeight + 100;
                        * {
                            display: inline;
                        }
                        *::before {
                            content: "$";
                        }
                        .original-price {
                            text-decoration: line-through;
                        }
                        .price {
                            text-decoration: underline;
                        }
                    }
                    .review {
                        font-size: 13px;
                        font-weight: $standardWeight;
                    }
                }
                .preview {
                    width: 25%;
                }
            }
        }
    }
}

#brands {
    padding: ($verticalPadding / 2) $horizontalPadding;
    background: #f6f6f6;
    h3 {
        text-transform: uppercase;
        font-weight: $standardWeight;
    }
    .brands-container {
        @include horizontalFlex;
        margin-top: 30px;
        .brand {
            width: calc(100% / 5 - 80px);
            margin: 0 40px;
        }
    }
}
