@mixin horizontalFlex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
@mixin verticalFlex {
    display: flex;
    flex-direction: column;
    align-items: center;
}

@mixin menuLists {
    height: 100%;
    li {
        height: 100%;
        a {
            display: inline-block;
            width: 100%;
            height: 100%;
        }
    }
}

@mixin activeMenuProp {
    position: relative;
    color: $brandColor;
    transition: color $transitionsTime;
    &::before {
        content: "";
        width: 100%;
        height: 3px;
        background: $brandColor;
        position: absolute;
        top: 0;
        left: 0;
        transition: background-color $transitionsTime;
    }
}

@mixin btnFunction($color, $percentage) {
    padding: 13px 20px;
    border-radius: 50px;
    color: #fff;
    background: $color;
    text-transform: uppercase;
    transition: background $transitionsTime;
    &:hover {
        background: lighten($color, $percentage);
    }
}

@mixin mainBtn {
    padding: 16px 35px;
    border-radius: 50px;
    color: #fff;
    background: #ffffff30;
    text-transform: uppercase;
    font-weight: 700;
    border: 2px solid #fff;
    transition: background $transitionsTime;
    &:hover {
        background: #ffffff00;
    }
}

@mixin backgroundImgDefault {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

@mixin backgroundLayover {
    position: relative;
    &::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: #00000030;
    }
    * {
        z-index: 1;
    }
}

@mixin cardsLayover {
    @include verticalFlex;
    justify-content: center;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient( to bottom, #{$brandColor + "ee"}, #e280b1 );
    font-weight: 600;
    color: #fff;
    transition: top $transitionsTime;
    cursor: pointer;
    
}
