$mainColorDark: #2a2f33;
$brandColor: #427ed5;
$bordersColor: #00000020;
$horizontalPadding: 90px;
$verticalPadding: 100px;
$navbarTopHeight: 50px;
$navbarBottomHeight: $navbarTopHeight * 2;
$fontAwesome: "FontAwesome";
$transitionsTime: 0.4s;
$marginBtwCardSections: 20px;
$paragraphsLineHeight: 30px;
$standardWeight: 500;
$footerBackground: #303337;
$footerColor: #a0a5a5;
